
#wrapper {
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0px -2px #cc8c38;
    height: 6.5vh;
    width: 100vw;
}

#title {
    font-size: 3vh;
    font-family: Ogg-Light;

    padding: 1vh 5vw;
}

#mp {
    font-family: Ogg-Bold;
}