
#wrapper {
    background-color: rgb(240, 240, 240);
    text-align: center;
    font-size: 1.2vh;

    height: 2vh;
    width: 100vw;

    padding: 1vh 0vw;
    margin: auto;
    
    box-shadow: 0px -2px #cc8c38;
}

a {
    color: black;
}
a:hover {
    color: #cc8c38;
}