
#wrapper {
    background-color: white;
}

#footer-text {
    text-align: center;
    font-size: 1.2vh;

    width: fit-content;

    padding: 1vh 10vw;
    margin: auto;
    box-shadow: 0 -2px #cc8c38;
    // box-shadow: 0 -2px #cc8c38, inset 0px 1vh 1vh -.8vh gray;
}