
#wrapper {
    background-color: var(--silver);
    text-align: center;
    font-size: 1.2vh;

    height: 2vh;
    width: 100vw;

    padding: 1vh 0vw;
    margin: auto;
    
    box-shadow: 0px -2px var(--orange);
}

a {
    color: black;
}
a:hover {
    color: var(--orange);
}