
.image {
    width: 100%;
    height: 100vh;
    
    background-image: url("../../../assets/images/flatlay-iron-skillet-with-meat-and-other-food.jpg");
    background-size: cover;
}

#wrapper {
    background-color: #ecebe7d2;
    height: 60vh;
    width: 20vw;
    min-height: 400px;
    min-width: 300px;

    text-align: center;
    position: absolute;
    top: 20vh;
    left: 40vw;

    border-radius: 0 30%;
    box-shadow: max(2vw, 40px) 0px 0px -2vh #cc8c38, 
                min(-2vw, -40px) 0px 0px -2vh #cc8c38;
}

#title {
    font-size: max(1.5vw, 26px);
    font-weight: lighter;
    padding: 6vh 1vw 0vh 1vw;
}

#loginForm {
    padding-top: max(5vh, 40px);
}

#registerForm {
    padding-top: 2vh;
}

.credential {
    width: 70%;
    width:min-content;
    font-size: max(1vw, 16px);
    
    padding: 8px 16px;
    border: none;

    background-color: #e6e0d6d2;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #cc8c38;
    margin: 1vh auto;
}
.credential:focus-visible {
    outline: none;
}
.credential:hover {
    box-shadow: 0 0 6px 1px #cc8c38;
}
.credential:focus {
    box-shadow: 0 0 0 2px #cc8c38;
}

.button {
    width: 70%;
    width:min-content;
    font-size: max(1vw, 16px);
    
    padding: 8px 16px;
    border: none;

    background-color: #e6e0d6d2;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #cc8c38;
    margin: 1vh 1vw;
}
.button:hover {
    background-color: #cc8c38;
    color: white;
    cursor: pointer;
}

#cancel {
    box-shadow: 0 0 0 1px rgb(173, 173, 173);
}
#cancel:hover {
    color: black;
    background-color: rgb(173, 173, 173);
    box-shadow: 0 0 0 1px rgb(173, 173, 173);
}

#error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin: 1vh auto;
}

#formFooter {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 6%;
}
#formFooter > * {
    font-size: max(0.6vw, 12px);
}
#formFooter > a {
    color: blue;
    text-decoration: underline;
    width: fit-content;
    margin: auto;
}
#formFooter > a:hover {
    cursor: pointer;
}