
.image {
    width: 100%;
    height: 100vh;
    
    background-image: url("../../../assets/images/flatlay-iron-skillet-with-meat-and-other-food.jpg");
    background-size: cover;
}

#wrapper {
    background-color: rgba(255, 255, 255, 0.623);
    height: 60vh;
    width: 20vw;
    min-height: 400px;
    min-width: 300px;

    text-align: center;
    box-shadow: 0 0 1vh 1vh rgba(0, 0, 0, 0.397);

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#title-section {
    background-color: var(--verylightgray);
    color: black;
    box-shadow: 0px 2px var(--orange);
    font-size: max(2vw, 30px);
    font-family: Ogg-Regular;

    height: 20%;
    position: relative;
}

#title {
    padding: 0 2vw;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: fit-content;
    width: fit-content;
}

#mp {
    font-family: Ogg-Bold;
}

#loginForm {
    height: 70%;
}

#registerForm {
    height: 70%;
}

#loginInputs {
    padding-top: 30%;
}

#registerInputs {
    padding-top: 20%;
}

.credential {
    color: black;
    width: 70%;
    width: min-content;
    font-size: max(1vw, 16px);
    
    padding: 8px 16px;
    border: none;

    background-color: var(--verylightgray);
    box-shadow: 0 0 0 1px var(--darkgray);
    margin: 1vh auto;
}
.credential:focus-visible {
    outline: none;
}
.credential:hover {
    box-shadow: 0 0 0 1px var(--orange), 0.5vh 0.5vh var(--orange);
}
.credential:focus {
    box-shadow: 0 0 0 2px var(--orange);
}

.button {
    font-size: max(1vw, 16px);
    
    padding: 8px 16px;
    border: none;

    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 0 0 0 1px var(--orange);
    margin: 5vh 1vw;
}
.button:hover {
    box-shadow: 0 0 0 1px var(--orange), 0.5vh 0.5vh var(--orange);
    cursor: pointer;
}

#cancel {
    box-shadow: 0 0 0 1px var(--verydarkgray);
}
#cancel:hover {
    box-shadow: 0 0 0 1px var(--verydarkgray), 0.5vh 0.5vh var(--verydarkgray);
}

#error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin: 1vh auto;
}

#formFooter {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 6%;
}
#formFooter > * {
    font-size: max(0.6vw, 12px);
}
#formFooter > a {
    color: blue;
    text-decoration: underline;
    width: fit-content;
    margin: auto;
}
#formFooter > a:hover {
    cursor: pointer;
}