
<div class="image"></div>

<div id="wrapper">
    <p id="title" >Welcome to Meal Planner!</p>

    <form id="loginForm" [formGroup]="loginForm" *ngIf="!isRegistering" (ngSubmit)="doLogin()">
        <div>
            <input type="text" formControlName="username" class="form-control credential" placeholder="Username" />
            <input type="password" formControlName="password" class="form-control credential" placeholder="Password" />
        </div>
        
        <button class="btn btn-primary button">Login</button>

        <div id="error" *ngIf="(loginError$ | async) != ''">{{ loginError$ | async }}</div>
        <div id="error" *ngIf="(registerError$ | async) != ''">{{ registerError$ | async }}</div>


        <div id="formFooter">
            <a (click)="beginRegistration(); loginForm.reset()">Register</a>
            <span> | </span>
            <a (click)="alertMe()">Forgot password?</a>
        </div>
    </form>

    <form id="registerForm" [formGroup]="registerForm" *ngIf="isRegistering" (ngSubmit)="doRegister()">
        <div>
            <input type="text" formControlName="firstname" class="form-control credential" placeholder="First Name"/>
            <input type="text" formControlName="lastname" class="form-control credential" placeholder="Last Name"/>
            <input type="text" formControlName="username" class="form-control credential" placeholder="Username"/>
            <input type="password" formControlName="password" class="form-control credential" placeholder="Password"/>
        </div>

        <button id="cancel" type="reset" (click)="cancelRegistration(); registerForm.reset()" class="btn btn-primary button">Cancel</button>
        <button class="btn btn-primary button">Register</button>
    </form>
    
</div>