
<div class="image"></div>
<!-- <img src="../assets/images/delicious-breakfast-meal-composition-with-copy-space.jpg"> -->

<div id="wrapper">
    <p id="title" class="center">Welcome to Meal Planner!</p>

    <form [formGroup]="loginForm" *ngIf="!isRegistering" (ngSubmit)="doLogin()">
        <div class="mb-3">
            <input type="text" formControlName="username" class="form-control" placeholder="Username" />
        </div>
        <div >
            <input type="password" formControlName="password" class="form-control" placeholder="Password" />
        </div>
        <div>
            <button id="submit" class="btn btn-primary">Login</button>
        </div>

        <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
        <div id="error" *ngIf="(userId$ | async) == 0">Invalid username or password</div>
        <div id="forgot">
            <p (click)="alertMe()">Forgot password?</p>
        </div>
    </form>

    <!-- <form [formGroup]="registerForm" *ngIf="isRegistering" (ngSubmit)="doLogin()">
        <div class="mb-3">
            <input type="text" formControlName="username" class="form-control" placeholder="Username" />
        </div>
        <div >
            <input type="password" formControlName="password" class="form-control" placeholder="Password" />
        </div>
        <div>
            <button id="submit" class="btn btn-primary">Login</button>
        </div>

        <a routerLink="../register" class="btn btn-link">Register</a>
        <div id="error" *ngIf="$currentUser.id == 0">Invalid username/password</div>
        <div id="forgot">
            <a href="" (click)="alertMe()">Forgot password?</a>
        </div>
    </form> -->
    
</div>