
<div class="image"></div>
<!-- <img src="../assets/images/delicious-breakfast-meal-composition-with-copy-space.jpg"> -->

<div id="wrapper">
    <p id="title" class="center">Welcome to Meal Planner!</p>
    <!-- <div id="input"> -->
        <!-- <input class="textbox center" type="text" [(ngModel)]="username" placeholder="Username"> -->
        <!-- <input class="textbox center" type="password" [(ngModel)]="password" placeholder="Password"> -->

        <!-- <input type="submit" id="submit" class="center" (click)="doLogin()"> -->
    <!-- </div> -->

    <form [formGroup]="loginForm" *ngIf="!isRegistering" (ngSubmit)="doLogin()">
        <div class="mb-3">
            <input type="text" formControlName="username" class="form-control" placeholder="Username" />
        </div>
        <div >
            <input type="password" formControlName="password" class="form-control" placeholder="Password" />
        </div>
        <div>
            <button id="submit" class="btn btn-primary">Login</button>
        </div>

        <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
        <div id="error" *ngIf="userId==0">Invalid username/password</div>
        <div id="forgot">
            <a href="" (click)="alertMe()">Forgot password?</a>
        </div>
    </form>

    <form [formGroup]="registerForm" *ngIf="isRegistering" (ngSubmit)="doLogin()">
        <div class="mb-3">
            <input type="text" formControlName="username" class="form-control" placeholder="Username" />
        </div>
        <div >
            <input type="password" formControlName="password" class="form-control" placeholder="Password" />
        </div>
        <div>
            <button id="submit" class="btn btn-primary">Login</button>
        </div>

        <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
        <div id="error" *ngIf="userId==0">Invalid username/password</div>
        <div id="forgot">
            <a href="" (click)="alertMe()">Forgot password?</a>
        </div>
    </form>
    
</div>