

.image {
    width: 100%;
    height: 100vh;
    
    background-image: url("../../../assets/images/flatlay-iron-skillet-with-meat-and-other-food.jpg");
    background-size: cover;
}

#wrapper {
    background-color: #fffcf6d5;
    height: 60vh;
    width: 25vw;
    min-height: 400px;
    min-width: 300px;

    border-radius: 10px;

    text-align: center;
    position: absolute;
    top: 20vh;
    left: 37.5vw;
}

.center {
    display: block;
    margin: 0 auto;
}

#title {
    font-size: 24px;
    font-weight: lighter;
    padding: 8vh 0;
}

#message {
    font-size: 16px;
    // padding: 20px 4%;
    font-weight: bold;
}

#input > * {
    width: 70%;
    font-size: 20px;
    
    padding: 8px 16px;
    border: none;
}

.textbox {
    background-color: #fffcf600;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #cc8c38;
    margin: 2vh auto;
}
.textbox:focus-visible {
    outline: none;
}
.textbox:hover {
    box-shadow: 0 0 6px 1px #cc8c38;
}
.textbox:focus {
    box-shadow: 0 0 0 2px #cc8c38;
}

#submit {
    box-shadow: 0 0 0 1px #cc8c38;
    color: #cc8c38;
    border-radius: 8px;
    margin: 8vh auto;
}
#submit:hover {
    background-color: #cc8c38;
    // color: #e0dedc;
    color: white;
    cursor: pointer;
}

#error {
    color: red;
    font-size: 12px;
}

#forgot {
    color: #cc8c38;

    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 6%;
    font-size: 12px;
}