/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'Verdana', sans-serif;
    // font-family: Ogg

}

@font-face {
    font-family: Ogg-Bold;
    src: url('/assets/fonts/OggBold.woff')
}
@font-face {
    font-family: Ogg-Bold-Italic;
    src: url('/assets/fonts/OggBoldItalic.woff')
}
@font-face {
    font-family: Ogg-Medium;
    src: url('/assets/fonts/OggMedium.woff')
}
@font-face {
    font-family: Ogg-Medium-Italic;
    src: url('/assets/fonts/OggMediumItalic.woff')
}
@font-face {
    font-family: Ogg-Regular;
    src: url('/assets/fonts/OggRegular.woff')
}
@font-face {
    font-family: Ogg-Regular-Italic;
    src: url('/assets/fonts/OggRegularItalic.woff')
}
@font-face {
    font-family: Ogg-Light;
    src: url('/assets/fonts/OggLight.woff')
}
@font-face {
    font-family: Ogg-Light-Italic;
    src: url('/assets/fonts/OggLightItalic.woff')
}
@font-face {
    font-family: Ogg-Thin;
    src: url('/assets/fonts/OggThin.woff')
}
@font-face {
    font-family: Ogg-Thin-Italic;
    src: url('/assets/fonts/OggThinItalic.woff')
}