/* You can add global styles to this file, and also import other style files */

/* --MAIN COLOR PALETTE--
Main orange: #cc8c38
Light gray: rgb(240, 240, 240)
Medium gray: lightgray
Dark gray: rgb(173, 173, 173)
*/



body {
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

:root {
    --verydarkgray: rgb(119, 119, 119);
    --darkgray: rgb(173, 173, 173);
    --silver: rgb(192, 192, 192);
    --lightgray: rgb(211, 211, 211);
    --verylightgray: rgb(240, 240, 240);
    --orange: #cc8c38;
}

@font-face {
    font-family: Ogg-Bold;
    src: url('/assets/fonts/OggBold.woff')
}
@font-face {
    font-family: Ogg-Bold-Italic;
    src: url('/assets/fonts/OggBoldItalic.woff')
}
@font-face {
    font-family: Ogg-Medium;
    src: url('/assets/fonts/OggMedium.woff')
}
@font-face {
    font-family: Ogg-Medium-Italic;
    src: url('/assets/fonts/OggMediumItalic.woff')
}
@font-face {
    font-family: Ogg-Regular;
    src: url('/assets/fonts/OggRegular.woff')
}
@font-face {
    font-family: Ogg-Regular-Italic;
    src: url('/assets/fonts/OggRegularItalic.woff')
}
@font-face {
    font-family: Ogg-Light;
    src: url('/assets/fonts/OggLight.woff')
}
@font-face {
    font-family: Ogg-Light-Italic;
    src: url('/assets/fonts/OggLightItalic.woff')
}
@font-face {
    font-family: Ogg-Thin;
    src: url('/assets/fonts/OggThin.woff')
}
@font-face {
    font-family: Ogg-Thin-Italic;
    src: url('/assets/fonts/OggThinItalic.woff')
}