
<div id="wrapper">
    <p id="title" class="center">Welcome to Meal Planner!</p>
    <!-- <p id="message" class="center">Your meal planning assistant</p> -->
    <div id="input">
        <input class="textbox center" type="text" [(ngModel)]="username" placeholder="Username">
        <input class="textbox center" type="password" [(ngModel)]="password" placeholder="Password">
        <div id="submit" class="center" (click)="login()">Login</div>
    </div>
    <div id="forgot">
        <a href="" (click)="alertMe()">Forgot password?</a>
    </div>

    <div id="error" *ngIf="userId==0">Invalid username/password</div>
</div>