
<div id="wrapper">
  <app-header></app-header>

  <div class="content">
    <app-nav-panel></app-nav-panel>

    <div id="main">
      @if ((expiredSessionError$ | async) != '') {
        <div id="error">{{ expiredSessionError$ | async }}</div>
      }

      @for (recipe of recipes$ | async; track recipe; let i = $index) {
        <div id="recipeBox">
          <div id="recipe">
            <div id="recipeHeader" (click)="expandRecipe(recipe.id)">
              <div class='expand-collapse-icon' [ngClass]="isExpanded(recipe.id) ? 'collapsed' : ''"></div>
              <div id="recipeName">{{ recipe.name }}</div>
              <div class="tag">Servings: {{ recipe.servings }}</div>
              <div class="tag">Prep-Time: {{ recipe.prepTime }}</div>
            </div>
            @if (isExpanded(recipe.id)) {
              <div id="recipeDetails">
                <div id="ingredientDetails">
                  @for (ingredient of recipe.ingredients; track ingredient) {
                    <div class="ingredientInfo text">
                      {{ ingredient.name }}
                    </div>
                  }
              </div>
              <hr>
                <div id="instructionDetails">
                  @if (recipe.instructions.length > 0) {
                    <div>
                      @for (instruction of recipe.instructions; track instruction) {
                        <ol class="instructionInfo text">
                          {{ instruction.ordering }}.
                          {{ instruction.instruction }}
                        </ol>
                      }
                    </div>
                  }
                  @if (recipe.instructions.length == 0) {
                    <div id="noInstructionsMsg" class="text">
                      No instructions yet.
                    </div>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>

    <app-ad-panel></app-ad-panel>
  </div>

  <app-footer></app-footer>
</div>
