
<div id="wrapper">

	<app-header></app-header>

	<app-nav-panel></app-nav-panel>

	<div id="main">
        <div id="error" *ngIf="(expiredSessionError$ | async) != ''">{{ expiredSessionError$ | async }}</div>

		<div id="recipeBox" *ngFor="let recipe of recipes$ | async; let i = index">
			<div id="recipe">
				<div id="recipeHeader" (click)="expandRecipe(recipe.id)" [ngClass]="isExpanded(recipe.id) ? 'recipe-header-active' : ''">
					<div class='expand-collapse-icon' [ngClass]="isExpanded(recipe.id) ? 'collapsed' : ''"></div>
					<div id="recipeName">{{ recipe.name }}</div>
					<div class="tag">Servings: {{ recipe.servings }}</div>
					<div class="tag">Prep-Time: {{ recipe.prepTime }}</div>
					<!-- <div class="tag">Cals-per-serving: {{ recipe.totalCals / recipe.servings }}</div> -->
				</div>

				<div id="recipeDetails" *ngIf="isExpanded(recipe.id)">
					<div id="ingredientDetails">
						<div class="ingredientInfo" *ngFor="let ingredient of recipe.ingredients">
							{{ ingredient.name }}
						</div>
					</div>
					<hr>
					<div id="instructionDetails">
						<div *ngIf="recipe.instructions.length > 0">
							<ol class="instructionInfo" *ngFor="let instruction of recipe.instructions">
								{{ instruction.ordering }}.
								{{ instruction.instruction }}
							</ol>
						</div>
						<div id="noInstructionsMsg" *ngIf="recipe.instructions.length == 0">
							No instructions yet.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<app-ad-panel></app-ad-panel>
	
	<app-footer></app-footer>

</div>
