
<div id="wrapper">

	<app-header></app-header>

	<div id="main">
		<div id="title">My Recipes</div>
		<div id="recipeBox" *ngFor="let recipe of recipes$ | async; let i = index">
			<div id="recipe" (click)="setExpandedRecipe(i)">
				<div id="recipeHeader" [ngClass]="this.expandedRecipe == i ? 'recipe-header-active' : ''">
					<div class='expand-collapse-icon' [ngClass]="this.expandedRecipe == i ? 'collapsed' : ''"></div>
					<div id="recipeName">{{ recipe.name }}</div>
					<div class="tag">Servings: {{ recipe.servings }}</div>
					<div class="tag">Prep-Time: {{ recipe.prepTime }}</div>
					<div class="tag">Cals-per-serving: {{ recipe.totalCals / recipe.servings }}</div>
				</div>
				
				<div id="recipeDetails" *ngIf="this.expandedRecipe == i">EXPANDED MUAHHAHAHAHAAA</div>
			</div>
		</div>
	</div>
	
	<app-footer></app-footer>

</div>
