
#wrapper {
    position: relative;
    min-height: 100vh;
}

app-footer {
    position: absolute;
    bottom: 0;
    width: 100%
}

#main {
    margin: 1vh 1vw;
    padding-bottom: 3.2vh;
}

#recipeBox {
    width: 60vw;
    min-width: fit-content;
    padding: 0.5vh 0;
}

#recipe {
    background-color: rgb(240, 240, 240);

    padding: 1vh 1vw;
    border-radius: 1vh;

    display: flex;
    justify-content: flex-end;
}

#recipeName {
    // align-self: flex-start;
    margin-right: auto;
    font-weight: bold;
}

.tag {
    // margin-left: auto;
    // float: right;
    font-size: small;
    background-color: #cc8c38;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 0px 5px;
    color: white;
}